
header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 400px;
}

#btns {
    max-width: 400px;
    margin: auto;
}

.btn {
    float: left;
    margin: auto;
    padding: 10px;
}

.btn img {
    width: 180px;
}

.reporting img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 809px) {
    header img {
        width: 90%;
    }

    #btns {
        max-width: 400px;
        margin: auto;
    }

    .btn {
        float: left;
        margin: auto;
        padding: 10px;
    }

    .btn img {
        width: 180px;
    }

    .reporting img{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 600px) {
}