
        header img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
            max-width: 600px;
        }

        #btns {
            max-width: 828px;
            margin: auto;
        }

        .btn {
            display: inline;
            margin: auto;
        }

        .btn img {
            width: 155px;
        }

        @media screen and (max-width: 809px) {
            header img {
                width: 90%;
            }
            .btn img {
                width: 100px;
            }
        }

        @media screen and (max-width: 600px) {
            header img {
                width: 90%;
            }
            .btn {
                display: block;
            }

            .btn img {
                width: 50%;
                margin-left: 25%;
                margin-right: 25%;
            }
        }